<div id="statsComponent">
        <hr class="top">
        <div class="content">
            <p id="msg">You need to log in to view statistics</p><br>
            <button class="_button" id="button" routerLink="/signin">Log in</button>
        </div>
        
        <div class="row">
            
            <div class="window">
                
                <div id="chartContainer1"></div>
            </div>
    
            <div class="window">
                
                <div id="chartContainer2"></div>
            </div>
    
            <div class="window">
                <div id="chartContainer3"></div>
            </div>
    
        </div>
        <hr class="idk">
    </div>
    