<section id="section-contact">
        <div class="content">
            <hr>
            <h2>SIGN IN</h2>
            <div class="column inputContact">
                <form method="post" action="register.php">
                    <p>username:</p><input placeholder="login123" type="text" name="username" required>
                    <p>firstname:</p><input placeholder="name" type="text" name="first_name">
                    <p>surname:</p><input placeholder="surname" type="text" name="surname">
                    <p>email</p><input placeholder="mail@mail.com" type="text" name="email">
                    <p>password</p><input placeholder="password" type="password" name="password_1">
                    <p>repeat password</p><input placeholder="password" type="password" name="password_2">
                </form>
                <div class="button">
                    <button>Sign in</button>
                </div>
            </div>
        </div>
        <hr>
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
</section>
