
 <footer id="footer">
    <div class="content">
        
        <div class="socials">
            <a href="https://www.facebook.com/FIT.VUT/" class="fa fa-facebook"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
            <a href="https://twitter.com/FIT_VUT" class="fa fa-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
            <a href="https://www.instagram.com/fit.vut/" class="fa fa-instagram"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
        </div>
        
        <div class="copyright">
            <p>Created by: Marek Žiška (xziska03), Matej Kubový (xkubov02), Johann Gawron (xgawro00)@ VUT FIT, ITU 2019</p>
            <p>Images are not our own.</p>
        </div>
    </div>
</footer>
