<!DOCTYPE html>
<section id="section-contact">
    <div class="content">
        <hr>

        <div class="row">

            <div class="column">
                <h2>LOG IN</h2>
                <div class="column inputContact">
                    <form (submit)="loginUser()" method="POST" action="http://localhost:8080/login.php">
                        <p>username:</p><input placeholder="login" type="text" name="username" required>
                        <p>password:</p><input placeholder="password" type="password" name="password" required>
                        <div class="_button">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>


            <div class="column">
                <h2>SIGN UP</h2>
                <div class="column inputContact">
                    <form (submit)="signinUser()" method="POST" action="http://localhost:8080/signin.php">
                        <p>username:</p><input placeholder="login" type="text" name="username" required>
                        <p>email:</p><input placeholder="mail@mail.com" type="text" name="email" required>
                        <p>password:</p><input placeholder="password" type="password" name="password " required>
                        <div class="_button">
                           <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
          </div>
        <hr>
    </div>
</section>