<div class="testWindow">
    <div id="frontWindow">
        <p id="frontText">
            Short explanation of how it works.
        </p>
        <p id="frontTime">
            {{getTimeCounter()}}
        </p>
        <button id="btn" (click)="explClick()" >I understand</button>
    </div>

    <div id="test">
        <div id="display">
            <p id="numbers">{{getRandomTestNum()}}</p>
        </div>

        <div id="input">
            <p id="numbers">{{getInputNumbers()}}</p>
        </div>

        <div id="result">
            <p>{{getResult()}}</p>
        </div>

        <a id="nextRound" nextRound (click)="nextRound()">Next round</a>

        <div id="keyboard">
            <button class="num" (click)="numberClick(1)">1</button>
            <button class="num" (click)="numberClick(2)">2</button>
            <button class="num" (click)="numberClick(3)">3</button>
            <button class="num" (click)="numberClick(4)">4</button>
            <button class="num" (click)="numberClick(5)">5</button>
            <button class="num" (click)="numberClick(6)">6</button>
            <button class="num" (click)="numberClick(7)">7</button>
            <button class="num" (click)="numberClick(8)">8</button>
            <button class="num" (click)="numberClick(9)">9</button>
            <button class="empty"></button>
            <button class="num" (click)="numberClick(0)">0</button>
            <button class="empty"></button>
        </div>
    </div>
</div>