
<section id="section-tests">
    <div id="tests-anchor" class="content">
        <div class="tests-headline-box">
            <h2 class="tests-headline">Pick your test type</h2>
        </div>
        <div class="all-tests">
            <div class="column test1">
                <h3>Numbers</h3>
                <a><img id="test1-pic" src="../assets/img/numbers.png"></a>
                <a class="test-link1"><p>START NOW</p></a>
            </div>
            <div class="column test2">
                <h3>Words</h3>
                <a><img id="test2-pic" src="../assets/img/words.png"></a>
                <a class="test-link1"><p>START NOW</p></a>
            </div>
            <div class="column test3">
                <h3>Images</h3>
                <a><img id="test3-pic" src="../assets/img/landscape.png"></a>
                <a class="test-link1" ><p>START NOW</p></a>
            </div>
        </div>
    </div>
</section>