.testWindow {
    text-align: center;
}

#frontWindow {
    color: white;
    z-index: 100;
    width: 60vw;
    height: 60vh;
    display: inline-block;
    background-color: rgba(32, 54, 75, 0.96);
    text-align: center;
    margin-top: 10vh;
    margin: 10vw;
    border-radius: 10px;
}

#frontTime {
    display: none;
}

#test {
    display: none;
    width: 50vw;
}

#results {
    display: none;
}

img {
    width: 50vw;
}

