<section id="section-contact">
    <div class="content">
        <hr>
        <h2>LOG IN</h2>
        <div class="column inputContact">
            <form (submit)="signinUser()" method="POST" action="http://samots.mooo.info:8008/login.php">
                <p>username:</p><input placeholder="login" type="text" name="username" required>
                <p>email</p><input placeholder="mail@mail.com" type="text" name="email" required>
                <p>password</p><input placeholder="password" type="password" name="password_1" required>
                <div class="button-content">
                    <div class="_button">
                        <input (click)="signinUser()" placeholder="SIGN IN" type="submit">
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </div>
</section>
