.testWindow {
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    height:100%;
    width: 100%;
    overflow: auto;

}
.testWindow h2{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 50px;
}

#frontWindow {
    color: black;
    position: relative;
    z-index: 1;
    width: 60%;
    height: 40h;
    text-align: center;
    margin: auto;
}
#frontWindow .content{
    position: absolute;
    width: 100%;
    height: 290px;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    background-color: #eee;
    margin-top: 130px;
    border-radius: 2px;
    padding-bottom: 16px;
}
#frontWindow #btn{
    color: #49c9e3;
    background-color: #eee;
    margin-top: 30px;
    padding: 6px 24px;
    font-size: 19px;
    border-radius: 2px;
    border-width: 2px;
    border: solid;
    border-width: 2px;
    transition: 0.2s;
}
#frontWindow #btn:hover{
    color: white;
    background-color: #49c9e3;
    border-color: #49c9e3;
}

#frontTime {
    margin-top: 50px;
    font-size: 60px;
    display: none;
}
#frontText{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    margin-top: 30px;
}
#testBlock {
    width: 100%;
    height: 45vw;
    display: inline-block;
    margin-top: 20px;
    background-color: rgba(155, 161, 167, 0.96);
    border-radius: 2px;
}

#test{
    text-align: center;
    margin: auto;
    display: none;
    width: 30vw;
    margin-top: 5vw;
}

#matrixNumber {
    background-color: white;
    width: 7vw;
    font-size: 29px;
    height: 7vw;
    margin: 1vw;
    text-align: center;
}
#matrixNumber:hover {
    background-color: #49c9e3;
    border-color: #49c9e3;
}
.testWrapper{
    text-align: center;
    margin: auto;
    width: 30%;
}
#countDown {
    display: none;
    text-align: center;
    margin:auto;
    width: 100%;
    height: 27px;
    border-style: none;
    margin-top: 4vh;
    border: solid;
    border-width: 1px;
}

#countBar {
    width: 30vw;
    height: 3vh;
    background-color: #49c9e3;
}

#chartWrapper{
    position: relative;
    margin-right: auto;
    text-align: center;
    align-content: center;
    width: 20vw;
}

#chartContainer{
    display: block;
    height: 200px; 
    width: 100%;
    background-color: #eee;
    text-align: center;
    align-content: center;
}

/*adddded*/
#results {
    display: none;
    margin: auto;
    text-align: center;
    width: 35vw;
    /*added*/
    margin-top: 60px;
    /*added*/
}
/*added*/
#results button{
    display: block;
    color: #49c9e3;
    background-color: #eee;
    padding: 6px 24px;
    font-size: 19px;
    border-radius: 2px;
    border-width: 2px;
    border: solid;
    border-width: 2px;
    transition: 0.2s;
    margin:auto;
    margin-top: 208px;
    text-align: center;
}
#results button:hover{
    color: white;
    background-color: #49c9e3;
    border-color: #49c9e3;
}

#results p{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 20px;
}

#showRes{
    text-align: center;
    margin: auto;
}
#showRes #showResBtn{
    color: #49c9e3;
    background-color: #eee;
    margin-top: 30px;
    padding: 6px 24px;
    font-size: 19px;
    border-radius: 2px;
    border-width: 2px;
    border: solid;
    border-width: 2px;
    transition: 0.2s;
}


#showRes #showResBtn:hover{
    color: white;
    background-color: #49c9e3;
    border-color: #49c9e3;
}

.warning {
    color: red;
    font-size: 36px;
    text-align: center;
    margin: auto;
}

/*adddded*/
.animate {
    animation-name: countdown;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes countdown {
    from {
        width: 30vw;
    }
    to {
        width: 0;
    }
  }

@media only screen and (max-width: 700px){
    #testBlock {
        width: 60vh;
        height: 58%;
    }
    #frontWindow{
        width: 40vh;
        margin-top: 180px;
        margin-left:  -140px;
    }
    #countDown{
        margin:auto;
        margin-top: 80px;
        width: 30vw;
    }
    #countBar {
        width: 30vw;
        height: 3vh;
        background-color: #49c9e3;
    }
    #test{
        width: 72vw;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    #matrixNumber{
        height: 13vw;
        width: 13vw;
        margin: 3vw;
    }

}