/***********************INTRO************************/
#section-intro{
    background-color: rgba(10, 16, 22, 0.96);
    width: 100%;
    height: 650px;
}
#section-intro .content{
    margin-top: 120px;
    display: block;
    overflow: auto;
    height: 640px;
    color: white;
}

#section-intro .content .intro-logo-block{
    width: 250px;
    margin: 40px auto;
    text-align: center;
}

#section-intro .content #intro-logo{
    width: 100%;
}

#section-intro .content #welcome-title{
    width: 400px;
    margin: 40px auto;
    letter-spacing: 1px;
}

#section-intro .content #welcome-title h2{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

#section-intro .content #welcome-text{
    width: 400px;
    margin: auto;
}

#section-intro .content #welcome-text p{
    width: 100%;
    text-align: center;
}

#section-intro .content #welcome-butt-box{
    margin: 70px auto;
    width: 200px;
    font-size: 17px;
}

#section-intro .content #welcome-butt-box p{
    border: solid;
    text-align: center;
    border-width: 3px;
    padding: 10px 40px;
    border-color: white;
    color: white;
}

#section-intro .content #welcome-butt-box p:hover{
    border-color:#49c9e3;
    color: #49c9e3;
    transition: 0.2s;
}
@media only screen and (min-width: 800px){
    #section-intro{
        width: 100%;
        overflow: hidden;
        height: 830px;
    }
    #section-intro .content{
        height: 100%;
        margin-top: 140px;
    }
    #section-intro .content #welcome-title{
        font-size: 28px;
        letter-spacing: 1px;
        width: 50%;
    }
    #section-intro .content .intro-logo-block{
        width: 100%;
    }
    #section-intro .content #intro-logo{
        width: 26%;
        transition: 0.4s;
        margin-top: 0.4cm;
    }
    #section-intro .content #welcome-text{
        font-size: 19px;
        transition: 0.4s;
    }
}
@media only screen and (min-width: 1700px){
    #section-intro{
        height: 1001px;
    }
}


/***********************INTRO************************/