<section id="section-intro">
    <div class="content">
        <div class="intro-logo-block">
            <a><img id="intro-logo" src="../assets/img/brainnnn.png" alt="Conference logo"></a>
        </div>
        <div id="welcome-title">
            <h2>Welcome to the short term memory evaluator!</h2>
        </div>
        <div id="welcome-text">
            <p>Get started and pick one of our tests now!</p>
        </div> 
        <div id="welcome-butt-box">
            <a (click)="scrollToElement(section-tests)" href="#tests-anchor"><p>GET STARTED</p></a>
        </div>
    </div>
</section>

<app-section-tests></app-section-tests>