.testWindow {
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    height: 100%;
    width: 100%;
}
.testWindow h2{
    text-align: center;
    margin-bottom: 50px;
}
#frontWindow h3{
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
#frontWindow {
    color: black;
    position: relative;
    z-index: 1;
    width: 80vh;
    height: 30h;
    text-align: center;
    margin: auto;
}
#frontWindow .content{
    position: absolute;
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    background-color: #eee;
    margin-top: 100px;
    border-radius: 2px;
    padding-bottom: 16px;
}
#frontWindow #btn{
    margin-top: 150px;
    padding: 6px 24px;
    font-size: 17px;
    border-radius: 2px;
    border-width: 2px;
}

#frontWindow p{
    text-align: center;
    margin: 20px 10px;
    font-size: 17px;
}


.content #frontTime{
    margin-top: 50px;
    font-size: 50px;
    display: none;
}

#test {
    width: 150vh;
    height: 90vh;
    display: inline-block;
    background-color: rgba(155, 161, 167, 0.96);
    border-radius: 2px;
}
#test #results_box{
    font-size: 20px;
    background-color:white;
    height: 18vh;
    width: 55vh;
    text-align: center;
    display: none;
    margin: auto;
    margin-top: 5vh;
    border-radius: 10px;
}
#display {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    height: 18vh;
    width: 22vh;
    font-size: 10vh;
    text-align: center;
    display: none;
}
#display #numbers{
    transition: 0.4s;
}
#display p{
    text-align: center;
}
#result {
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0px;
}
#test #results_box p, input{
    text-align: center;
    margin: auto;
}
#inputtxt{
    font-size: 25px;
}
#numbers2{
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 6px;
}
#test1_reload{
    display: none;
    text-align: center;
}

#btn_reload{
    text-align: center;
    margin: auto;
    margin-top: 70px;
    padding: 8px 30px;
    font-size: 17px;
    border-radius: 2px;
    border-width: 2px;
}
#btn_reload:hover{
    background-color: #49c9e3;
    border-color:  #49c9e3;
}
#test #results_box #nextRound{
    margin-top: 20px;
    padding: 2px 15px;
    font-size: 17px;
    border-width: 2px;
    border-radius: 2px;
}
#keyboard {
    width: 410px;
    height: 550px;
    display: none;
    background: white;
    border-radius: 1px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 6vh;
    
}
#keyboard .content{
    padding-top: 4vh;
    width: 330px;
    height: 370px;
    text-align: center;
    margin: auto;
}
.num:nth-child(13),.num:nth-child(14){
    width: 155px;
    height: 60px;
}
.num, .empty {
    text-align: center;
    font-size: 24px;
    width: 100px;
    height: 90px;
    margin: 5px;
    float: left;
}

.empty {
    border-style: none;
}
#progress {
    margin: 10px;
    width: 600px;
    text-align: center;
    margin: auto;
    display: none;

  }

/*radio buttons*/
#test1radioButtons{
    z-index: 2;
    width: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
    left: auto;
    margin-left: auto;
    border-radius: 2px;
    padding-bottom: 16px;
}
#test1radioButtons .column{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}
  
.container input {
    position: absolute;
    margin: auto;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(184, 192, 201, 0.96);;
    border-width: 1px;
    border-radius: 30%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #49c9e3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 30%;
    background: white;
}
/*radio buttons*/


@media only screen and (max-width: 800px){
    #test {
        width: 80vh;
        height: 110vh;
    }
    #frontWindow{
        width: 50vh;
        margin: auto;
        margin-top: 180px;
    }

}