.testWindow {
    text-align: center;
    margin: auto;
    margin-top: 160px;
    height: 750px;
}
.testWindow h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

#frontWindow {
    color: white;
    position: absolute;
    z-index: 1;
    width: 70vh;
    height: 18vw;
    background-color: rgba(32, 54, 75, 0.96);
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left:  -270px;
    margin-top: 100px;
    padding: 3vw;
    border-radius: 10px;
}
#frontWindow #btn{
    margin-top: 15px;
    padding: 2px 15px;
    font-size: 17px;
    border-radius: 2px;
    border-width: 2px;
    font-size: 18px;
}
#frontWindow #btn:hover{
    background-color: #49c9e3;
    border-color:  #49c9e3;
}
#frontWindow p{
    text-align: center;
    margin: 20px 10px;
    font-size: 17px;
}

#frontTime {
    display: none;
    width: 70vw;
}

#test {
    display: none;
    width: 50vw;
    text-align: center;
    margin: auto;
}
#test button{
    margin-top: 15px;
    padding: 8px 28px;
    font-size: 17px;
    border-radius: 2px;
    border-width: 2px;
    font-size: 18px;
}

#test button:hover{
    background-color: #49c9e3;
    border-color:  #49c9e3;
}

#results {
    display: none;
    margin: auto;
    text-align: center;
    /*added*/
    margin-top: 60px;
    /*added*/
}
/*added*/
#results button{
    margin-top: 60px;
    padding: 8px 28px;
    font-size: 17px;
    border-radius: 2px;
    border-width: 2px;
    font-size: 18px;
}
#results button:hover{
    background-color: #49c9e3;
    border-color:  #49c9e3;
}
#test img{
    width: 100%;
    height: 30vw;
}
#test p{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
#results p{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px){
    #testBlock {
        width: 60vh;
        height: 58%;
    }
    #frontWindow{
        width: 60vh;
        height: 40vh;
        margin-top: 100px;
        margin-left:  -220px;
    }
    #test{
        width: 72vw;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    #matrixNumber{
        height: 13vw;
        width: 13vw;
        margin: 3vw;
    }
    #frontWindow p{
        margin-top: 10px;
    }
    #test img{
        height: 60vw;
        width: 100%;

    }

}