<div class="testWindow">
    <h2>IMAGE TEST</h2>
    <div id="frontWindow">
        <p id="frontText">
            This test generates images, your goal is to remember images that were already shown. When you'll think that some image did repeat, click on it.
        </p>
        <p id="frontTime">
            {{getTimeCounter()}}
        </p>
        <button id="btn" (click)="explClick()" >I understand</button>
        <div id="results">
                <p>Points: {{getPoints()}}</p>
                <button (click)="restartTest()">Play again</button>
        </div>
    </div>

    <div id="test">
            <p>POINTS: {{getPoints()}}</p>
            <img src={{getImgSource()}}>
            <button (click)="btnClick()">Click me</button>
    </div>

</div>
