
#mainMenu {
    background-color: #4db8ff;
    text-align: center;
}

#mainMenu .testAll {
    height: 80vh;
    min-width: 90%;
}


#mainMenu div.testSingle {
    display: inline-block;
    border-style: solid;
    border-color: #b96c38;
    border-width: 2px;
    border-radius: 5px;
    background-color: #fa8f47;
    padding: 10px;
    margin: 20px;
    width: 20vw;
    height: 20vw;
}