
<section id="mainMenu">
    <div class="heading">
        <h2>{{ getTitle() }}</h2>
    </div>

    <div class="testAll">
        <div class="testSingle">
            <p class="testDescription">description</p>
            <button routerLink="/test1">start test!</button>
        </div>
        <div class="testSingle">
            <p class="testDescription">description</p>
            <button routerLink="/test2">start test!</button>
        </div>
        <div class="testSingle">
            <p class="testDescription">description</p>
            <button routerLink="/test3">start test!</button>
        </div>
    </div>
</section>
